.foo{position: sticky;
    bottom:0;
    height: 40px;
    line-height: 20px;
    color: rgb(241, 225, 102);
    width: 100%;
    background-color: black;
    font-size: 1.1rem;
    text-align: left;
    padding: 10px 30px;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
    